### Importing the Library

```rust
use {{ package.name | replace("-", "_") }}::*;
```

### Implementing Blocks

#### Implementing a `split_string` block

```rust
use flows::{Inputs, Outputs, Result, derive::block};

/// A block that splits input strings based on a delimiter.
#[block]
async fn split_string(delim: &str, mut inputs: Inputs<String>, outputs: Outputs<String>) -> Result {
    while let Some(input) = inputs.recv().await? {
        for output in input.split(delim) {
            outputs.send(output.into()).await?;
        }
    }
    Ok(())
}
```
